/*!************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/resolve-url-loader/index.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/favorites.scss ***!
  \************************************************************************************************************************************************************************************/
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/inter-v13-latin-regular.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url(fonts/inter-v13-latin-500.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url(fonts/inter-v13-latin-600.woff2) format("woff2");
}
:root {
  --color-primary-dark: rgba(5, 5, 5, 0.8);
  --color-primary-light: #f8f8f8;
  --color-accent: #9bb537;
  --color-secondary-dark: #050505;
  --color-secondary-lighter: rgba(5, 5, 5, 0.5);
  --color-secondary-light: rgba(5, 5, 5, 0.3);
  --color-secondary-lightest: rgba(5, 5, 5, 0.18);
  --color-third-light: rgba(248, 248, 248, 0.6);
  --color-third-lighter: rgba(248, 248, 248, 0.2);
  --color-star: rgba(5, 5, 5, 0.1);
  --color-star-active: #eea10c;
  --color-card-title: var(--color-primary-light);
  --color-card-text: var(--color-primary-light);
  --color-card-rating: var(--color-primary-light);
  --color-card-heart: var(--color-primary-light);
  --color-modal-add: var(--color-primary-light);
  --color-event-back: var(--color-secondary-dark);
  --display-logo-light: block;
  --display-logo-dark: none;
}

:root[theme=dark] {
  --color-primary-dark: rgba(255, 255, 255, 0.8);
  --color-primary-light: #161616;
  --color-accent: #9bb537;
  --color-secondary-dark: #ffffff;
  --color-secondary-lighter: rgba(255, 255, 255, 0.5);
  --color-secondary-light: rgba(255, 255, 255, 0.3);
  --color-secondary-lightest: rgba(255, 255, 255, 0.18);
  --color-third-light: rgba(248, 248, 248, 0.6);
  --color-third-lighter: rgba(248, 248, 248, 0.2);
  --color-star: rgba(255, 255, 255, 0.18);
  --color-star-active: #eea10c;
  --color-card-title: var(--color-secondary-dark);
  --color-card-text: var(--color-primary-dark);
  --color-card-rating: var(--color-secondary-lighter);
  --color-card-heart: var(--color-secondary-dark);
  --color-modal-add: var(--color-secondary-dark);
  --color-event-back: #050505;
  --display-logo-light: none;
  --display-logo-dark: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 100px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.banner {
  background-image: url(assets/favorits-hero-mob.jpg);
  width: 100%;
  height: 356px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .banner {
    background-image: url(assets/favorits-hero-tab.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .banner {
    background-image: url(assets/favorits-hero.jpg);
  }
}

.rating-post-btn, .btn-rating, .btn-add, .primary-btn {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 500;
  padding: 10px 20px;
  border: 1px solid var(--color-accent);
  border-radius: 12px;
  cursor: pointer;
  transition: color 150ms ease, background-color 150ms ease;
}
@media screen and (min-width: 768px) {
  .rating-post-btn, .btn-rating, .btn-add, .primary-btn {
    padding: 13px 27px;
    border-radius: 15px;
  }
}

.pag-page, .pag-arrow-next, .pag-arrow-prev, .pag-arrow-last, .pag-arrow-first {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid;
}
@media screen and (min-width: 768px) {
  .pag-page, .pag-arrow-next, .pag-arrow-prev, .pag-arrow-last, .pag-arrow-first {
    width: 44px;
    height: 44px;
  }
}

.pag-arrow-last, .pag-arrow-first {
  display: flex;
}
.pag-arrow-last .svg, .pag-arrow-first .svg {
  flex-shrink: 0;
  margin: -8px;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.pag-arrow-next .svg, .pag-arrow-prev .svg {
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.primary-btn {
  color: var(--color-secondary-dark);
  background-color: var(--color-primary-light);
}
.primary-btn:hover {
  color: var(--color-primary-light);
  background-color: var(--color-accent);
}

.btn-add {
  color: var(--color-modal-add);
  background-color: var(--color-accent);
}
.btn-add:hover {
  color: var(--color-secondary-dark);
  background-color: transparent;
}

.btn-rating {
  color: var(--color-secondary-dark);
  background-color: var(--color-primary-light);
}
.btn-rating:hover {
  color: var(--color-primary-light);
  background-color: var(--color-accent);
}

.pag-arrow-first {
  background-color: #050505;
}
.pag-arrow-first .svg {
  fill: var(--color-third-light);
}

.pag-arrow-prev {
  display: none;
  background-color: #050505;
}
@media screen and (min-width: 768px) {
  .pag-arrow-prev {
    display: block;
  }
}
.pag-arrow-prev .svg {
  fill: var(--color-third-light);
}

.pag-arrow-last {
  transform: rotate(180deg);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}
.pag-arrow-last .svg {
  fill: #050505;
}

.pag-arrow-next {
  display: none;
  transform: rotate(180deg);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}
@media screen and (min-width: 768px) {
  .pag-arrow-next {
    display: block;
  }
}
.pag-arrow-next .svg {
  fill: #050505;
}

.pag-page {
  border-color: var(--color-secondary-light);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  color: var(--color-secondary-dark);
  background-color: transparent;
}
.pag-page.current {
  border-color: var(--color-accent);
  background-color: var(--color-accent);
}
.pag-page.hidden {
  display: none;
}

.rating-post-btn {
  color: var(--color-card-title);
  background-color: var(--color-accent);
  width: 100%;
}
.rating-post-btn:hover {
  color: var(--color-event-back);
}

.hero-card .card-dish, .hero-card .card-chief {
  background-color: var(--color-event-back);
  border-radius: 15px;
  overflow: hidden;
}

.dish-3-big-img, .dish-2-big-img, .dish-1-big-img {
  position: absolute;
  top: 50%;
  left: 60%;
}

.hero-card {
  display: flex;
  gap: 8px;
  height: 280px;
  width: 481px;
}
@media screen and (min-width: 768px) {
  .hero-card {
    gap: 16px;
    height: 442px;
    width: 871px;
  }
}
.hero-card .card-chief {
  position: relative;
  width: 80px;
}
@media screen and (min-width: 768px) {
  .hero-card .card-chief {
    width: 137px;
  }
}
.hero-card .card-dish {
  position: relative;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  justify-content: end;
  padding-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .hero-card .card-dish {
    width: 351px;
    padding-bottom: 32px;
  }
}

.chief {
  position: absolute;
  top: 55%;
  left: 60%;
  transform: translate(-50%, -50%) scale(3.6);
}
@media screen and (min-width: 768px) {
  .chief {
    top: 47%;
    transform: translate(-50%, -50%) scale(3.1);
  }
}

.dish-img {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 142px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .dish-img {
    height: 271px;
    top: 50%;
  }
}

.elips-img {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .elips-img {
    top: 50%;
  }
}

.dish-1-big-img {
  transform: translate(-50%, -50%) scale(1.32);
}

.dish-2-big-img {
  transform: translate(-50%, -50%) scale(1.9);
}

.dish-3-big-img {
  top: 57%;
  transform: translate(-50%, -50%) scale(2.4);
}

.master-text {
  font-size: 10px;
  line-height: 1.4;
  font-weight: 500;
  color: var(--color-third-light);
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .master-text {
    font-size: 14px;
    line-height: 1.28;
  }
}

.master-text-country {
  color: var(--color-third-lighter);
  font-size: 8px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .master-text-country {
    font-size: 12px;
    line-height: 1.16;
  }
}

.search .input, .options-wrapper {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  color: var(--color-secondary-lighter);
  padding: 14px 18px;
  border: 1px solid var(--color-secondary-lightest);
  border-radius: 15px;
  width: 100%;
  appearance: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .search .input, .options-wrapper {
    font-size: 16px;
    line-height: 1.25;
  }
}

.area-list,
.ingredients-list,
.time-list {
  position: absolute;
  left: 0;
  top: 101%;
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 14px 18px;
  background-color: var(--color-primary-light);
  border-radius: 14px;
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
  overflow-y: auto;
  z-index: 1;
  cursor: default;
}
.area-list::-webkit-scrollbar,
.ingredients-list::-webkit-scrollbar,
.time-list::-webkit-scrollbar {
  width: 6px;
  position: absolute;
  right: 60px;
}
.area-list::-webkit-scrollbar-thumb,
.ingredients-list::-webkit-scrollbar-thumb,
.time-list::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-lightest); /* color of the scroll thumb */
  border-radius: 12px; /* roundness of the scroll thumb */
}

.options-wrapper {
  position: relative;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.filter {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 50px;
  max-width: 686px;
}
@media screen and (min-width: 768px) {
  .filter {
    gap: 16px;
    max-width: 100%;
    margin-bottom: 44px;
  }
}
.filter .arrow {
  position: absolute;
  right: 18px;
  top: 15px;
  width: 18px;
  height: 18px;
  fill: var(--color-secondary-lighter);
  transform: rotate(-90deg);
  pointer-events: none;
}

.filter-label {
  font-size: 12px;
  line-height: 1.16;
  font-weight: 500;
  color: var(--color-secondary-lighter);
  display: block;
  text-align: start;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .filter-label {
    font-size: 14px;
    line-height: 1.28;
  }
}

.time {
  width: calc((100% - 14px) / 2);
}
@media screen and (min-width: 768px) {
  .time {
    width: 125px;
  }
}

.area {
  width: calc((100% - 14px) / 2);
}
@media screen and (min-width: 768px) {
  .area {
    width: 141px;
  }
}

.ingredients {
  width: 188px;
}

.search {
  position: relative;
  width: 100%;
}
.search .input {
  padding-left: 48px;
}
@media screen and (min-width: 1280px) {
  .search {
    width: 278px;
  }
}

.loop {
  position: absolute;
  top: 41px;
  left: 18px;
  width: 18px;
  height: 18px;
  fill: var(--color-secondary-lighter);
}

.filter-btn {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-align: left;
  width: 95%;
  padding: 0;
  color: var(--color-secondary-light);
  background-color: transparent;
  border: none;
  text-overflow: ellipsis; /* enables ellipsis */
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.filter-btn:hover {
  color: var(--color-secondary-dark);
}

.reset-filter-btn {
  position: absolute;
  bottom: -30px;
  right: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.reset-svg {
  width: 14px;
  height: 14px;
  fill: var(--color-accent);
}

.reset-text {
  color: var(--color-secondary-lighter);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  width: 86px;
}

.recipe-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 335px;
  width: 100%;
  height: 335px;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(1deg, rgba(5, 5, 5, 0.6) 4.82%, rgba(5, 5, 5, 0.15) 50%, rgba(255, 255, 255, 0.4) 108.72%);
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .recipe-card {
    width: calc((100% - 16px) / 2);
    height: 264px;
  }
}
@media screen and (min-width: 1280px) {
  .recipe-card {
    width: calc((100% - 32px) / 3);
    height: 287px;
  }
}
.recipe-card .title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--color-card-title);
  margin-bottom: 8px;
  text-overflow: ellipsis; /* enables ellipsis */
  white-space: nowrap; /* keeps the text in a single line */
  overflow: hidden;
}
.recipe-card .text {
  font-size: 12px;
  line-height: 1.33;
  color: var(--color-card-text);
  margin-bottom: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* start showing ellipsis when 2rd line is reached */
}
.recipe-card .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-img {
  position: absolute;
  top: 18px;
  left: 0;
  transform: scale(1.16);
  z-index: -1;
}

.heart {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.heart-svg {
  width: 22px;
  height: 22px;
  stroke: var(--color-card-heart);
  fill: none;
}
.heart-svg:active {
  transform: scale(1.2);
}
.heart-svg.added {
  fill: var(--color-card-heart);
}

.heart-use {
  pointer-events: none;
}

.recipe-btn {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--color-card-title);
  background-color: var(--color-accent);
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .recipe-btn {
    padding: 8px 16px;
  }
}

.score {
  display: flex;
  gap: 4px;
}

.score-text {
  font-weight: 500;
  color: var(--color-card-rating);
}

.stars {
  display: flex;
  gap: 2px;
}

.star-svg {
  width: 16px;
  height: 16px;
  fill: var(--color-star);
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .star-svg {
    width: 14px;
    height: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .star-svg {
    width: 16px;
    height: 16px;
  }
}
.star-svg.active {
  fill: var(--color-star-active);
}

.header {
  padding-top: 24px;
  padding-bottom: 49px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 30px;
    padding-bottom: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding-top: 43px;
    padding-bottom: 46px;
  }
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-fav {
  padding-top: 43px;
  padding-bottom: 36px;
}
.header-fav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 16px;
  }
  .nav-list .link {
    font-size: 12px;
    line-height: 1.2;
    color: var(--color-secondary-dark);
    transition: color 150ms ease;
  }
  .nav-list .link:hover, .nav-list .link:active {
    color: var(--color-accent);
  }
  .nav-list .link.current {
    color: var(--color-accent);
  }
}

.logo-wrapper {
  display: flex;
  justify-content: start;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .logo-wrapper {
    justify-content: center;
  }
}

.nav-logo .src {
  width: 83px;
}
@media screen and (min-width: 768px) {
  .nav-logo .src {
    width: 93px;
  }
}

.logo-light {
  display: var(--display-logo-light);
}

.logo-dark {
  display: var(--display-logo-dark);
}

.nav-tech {
  display: flex;
  gap: 14px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav-tech {
    gap: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .nav-tech {
    gap: 24px;
  }
}

.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.cart-svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: var(--color-secondary-dark);
}

.theme-wrapper {
  display: none;
}
@media screen and (min-width: 768px) {
  .theme-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 46px;
    height: 20px;
    background-color: var(--color-secondary-light);
    border-radius: 11px;
    padding: 1px;
    box-shadow: 4px 4px 8px var(--color-secondary-light);
    cursor: pointer;
  }
  .theme-wrapper.dark {
    background-color: var(--color-accent);
    justify-content: end;
  }
}

.theme-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--color-primary-light);
}
.theme-circle.dark {
  background-color: var(--color-primary-dark);
}

.burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-svg {
  width: 34px;
  height: 34px;
  cursor: pointer;
  fill: var(--color-secondary-dark);
}

.filters-fav {
  display: flex;
  gap: 15px;
  margin-bottom: 32px;
  overflow-x: auto;
  cursor: grab;
}
.filters-fav:active {
  cursor: grabbing;
}
.filters-fav li {
  flex-shrink: 0;
}
.filters-fav::-webkit-scrollbar {
  display: none; /* width of the entire scrollbar */
}

.filterFav-btn {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25; /* 125% */
  color: var(--color-secondary-light);
  background-color: transparent;
  padding: 14px 18px;
  border-radius: 15px;
  border: 1px solid var(--color-secondary-lightest);
  cursor: pointer;
}
.filterFav-btn:hover {
  color: var(--color-secondary-dark);
}

.fav-active {
  color: var(--color-primary-light);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.recipes {
  padding-top: 40px;
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .recipes {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .recipes {
    padding-top: 184px;
  }
}
.recipes .wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .recipes .wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .recipes .wrapper {
    gap: 64px;
  }
}

.aside {
  width: 100%;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .aside {
    padding-top: 26px;
    width: 176px;
  }
}
@media screen and (min-width: 1280px) {
  .aside {
    width: 234px;
  }
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .recipe-list {
    gap: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .recipe-list {
    row-gap: 32px;
    column-gap: 16px;
  }
}

.recipe-list-fav {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 16px;
  margin-bottom: 64px;
}

.all-recipes {
  margin-bottom: 64px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary-lightest);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.recipe-modal {
  position: relative;
  padding: 32px;
  background-color: var(--color-primary-light);
  border-radius: 15px;
}
.recipe-modal .title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--color-secondary-dark);
}
.recipe-modal .video {
  width: 467px;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.recipe-modal .text {
  width: 467px;
  margin-bottom: 32px;
}
.recipe-modal .buttons {
  display: flex;
  gap: 16px;
}

.tag-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  align-items: center;
}

.tag-list {
  display: flex;
  gap: 4px;
}
.tag-list .item {
  padding: 8px 16px;
  border-radius: 35px;
  border: 1px solid var(--color-secondary-lightest);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
  color: var(--color-secondary-dark);
}

.modal-score-text {
  margin-left: 8px;
  font-weight: 500;
  color: var(--color-secondary-lighter);
}

.ing-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 32px;
  height: 204px;
  overflow-y: auto;
}
.ing-list::-webkit-scrollbar {
  width: 2px; /* width of the entire scrollbar */
}
.ing-list::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-lightest); /* color of the scroll thumb */
  border-radius: 12px; /* roundness of the scroll thumb */
}
.ing-list .item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--color-secondary-lightest);
  color: var(--color-secondary-dark);
}
.ing-list .item .count {
  color: var(--color-secondary-lighter);
}

.btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  fill: var(--color-primary-dark);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.numbers {
  display: flex;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .numbers {
    gap: 10px;
  }
}

.pages {
  display: flex;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .pages {
    gap: 10px;
  }
}

.steps {
  display: flex;
  gap: 8px;
}

.pagination-recipe,
.pagination-fav {
  display: flex;
  justify-content: center;
  gap: 14px;
  max-width: 686px;
}
@media screen and (min-width: 768px) {
  .pagination-recipe,
  .pagination-fav {
    max-width: 100%;
    gap: 24px;
  }
}

.error {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  margin: 50px auto;
}

.error-svg {
  width: 97px;
  height: 83px;
}

.error-text {
  max-width: 480px;
  color: var(--color-secondary-dark);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5; /* 150% */
}

/*# sourceMappingURL=favorites.css.map*/