$bp-mobile: 375px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
:root {
	--color-primary-dark: rgba(5, 5, 5, 0.8);
	--color-primary-light: #f8f8f8;
	--color-accent: #9bb537;
	--color-secondary-dark: #050505;
	--color-secondary-lighter: rgba(5, 5, 5, 0.5);
	--color-secondary-light: rgba(5, 5, 5, 0.3);
	--color-secondary-lightest: rgba(5, 5, 5, 0.18);
	--color-third-light: rgba(248, 248, 248, 0.6);
	--color-third-lighter: rgba(248, 248, 248, 0.2);
	--color-star: rgba(5, 5, 5, 0.1);
	--color-star-active: #eea10c;
	--color-card-title: var(--color-primary-light);
	--color-card-text: var(--color-primary-light);
	--color-card-rating: var(--color-primary-light);
	--color-card-heart: var(--color-primary-light);
	--color-modal-add: var(--color-primary-light);
	--color-event-back: var(--color-secondary-dark);
	--display-logo-light: block;
	--display-logo-dark: none;
}
:root[theme="dark"] {
	--color-primary-dark: rgba(255, 255, 255, 0.8);
	--color-primary-light: #161616;
	--color-accent: #9bb537;
	--color-secondary-dark: #ffffff;
	--color-secondary-lighter: rgba(255, 255, 255, 0.5);
	--color-secondary-light: rgba(255, 255, 255, 0.3);
	--color-secondary-lightest: rgba(255, 255, 255, 0.18);
	--color-third-light: rgba(248, 248, 248, 0.6);
	--color-third-lighter: rgba(248, 248, 248, 0.2);
	--color-star: rgba(255, 255, 255, 0.18);
	--color-star-active: #eea10c;
	--color-card-title: var(--color-secondary-dark);
	--color-card-text: var(--color-primary-dark);
	--color-card-rating: var(--color-secondary-lighter);
	--color-card-heart: var(--color-secondary-dark);
	--color-modal-add: var(--color-secondary-dark);
	--color-event-back: #050505;
	--display-logo-light: none;
	--display-logo-dark: block;
}

$color-primary-dark: var(--color-primary-dark);
$color-primary-light: var(--color-primary-light);
$color-accent: var(--color-accent);
$color-secondary-dark: var(--color-secondary-dark);
$color-secondary-lighter: var(--color-secondary-lighter);
$color-secondary-light: var(--color-secondary-light);
$color-secondary-lightest: var(--color-secondary-lightest);
$color-third-light: var(--color-third-light);
$color-third-lighter: var(--color-third-lighter);
$color-star: var(--color-star);
$color-star-active: var(--color-star-active);
$color-card-title: var(--color-card-title);
$color-card-text: var(--color-card-text);
$color-card-rating: var(--color-card-rating);
$color-card-heart: var(--color-card-heart);
$color-modal-add: var(--color-modal-add);
$color-event-back: var(--color-event-back);
$display-logo-dark: var(--display-logo-dark);
$display-logo-light: var(--display-logo-light);
$notify-back-success: #6ccf7e;
$notify-back-failure: #f27c74;
