%hero-card-image {
  background-color: $color-secondary-dark;
  border-radius: 15px;
  overflow: hidden;
}
%dish-big-img {
  position: absolute;
  top: 50%;
  left: 60%;
}
.hero-card {
  display: flex;
  gap: 16px;
  height: 442px;
  width: 871px;
  .card-chief {
    @extend %hero-card-image;
  }
  .card-dish {
    @extend %hero-card-image;
    position: relative;
    width: 351px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    justify-content: end;
    padding-bottom: 32px;
  }
}
.dish-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 271px;
  z-index: 1;
}
.elips-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dish-big-img {
  @extend %dish-big-img;
  transform: translate(-50%, -50%) scale(1.32);
}
.dish-2-big-img {
  @extend %dish-big-img;
  transform: translate(-50%, -50%) scale(1.9);
}
.dish-3-big-img {
  @extend %dish-big-img;
  top: 57%;
  transform: translate(-50%, -50%) scale(2.4);
}
.master-text {
  font-weight: 500;
  color: $color-third-light;
  text-transform: uppercase;
}
.master-text-country {
  color: $color-third-lighter;
  font-size: 12px;
  line-height: 1.16;
}
