%button {
	display: block;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	line-height: 1.21;
	font-weight: 500;
	padding: 10px 20px;
	border: 1px solid $color-accent;
	border-radius: 12px;
	cursor: pointer;
	transition: color 150ms ease, background-color 150ms ease;
	@media screen and (min-width: $bp-tablet) {
		padding: 13px 27px;
		border-radius: 15px;
	}
}
%pag-button {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid;
	@media screen and (min-width: $bp-tablet) {
		width: 44px;
		height: 44px;
	}
}
%pag-arrow-jump {
	display: flex;
	@extend %pag-button;
	.svg {
		flex-shrink: 0;
		margin: -8px;
		width: 24px;
		height: 24px;
		pointer-events: none;
	}
}
%pag-arrow-step {
	@extend %pag-button;
	.svg {
		width: 24px;
		height: 24px;
		pointer-events: none;
	}
}
.primary-btn {
	@extend %button;
	color: $color-secondary-dark;
	background-color: $color-primary-light;
	&:hover {
		color: $color-primary-light;
		background-color: $color-accent;
	}
}
.btn-add {
	@extend %button;
	color: $color-modal-add;
	background-color: $color-accent;
	&:hover {
		color: $color-secondary-dark;
		background-color: transparent;
	}
}
.btn-rating {
	@extend %button;
	color: $color-secondary-dark;
	background-color: $color-primary-light;
	&:hover {
		color: $color-primary-light;
		background-color: $color-accent;
	}
}
.pag-arrow-first {
	@extend %pag-arrow-jump;
	background-color: #050505;
	.svg {
		fill: $color-third-light;
	}
}
.pag-arrow-prev {
	display: none;
	@extend %pag-arrow-step;
	background-color: #050505;
	@media screen and (min-width: $bp-tablet) {
		display: block;
	}
	.svg {
		fill: $color-third-light;
	}
}
.pag-arrow-last {
	@extend %pag-arrow-jump;
	transform: rotate(180deg);
	background-color: $color-accent;
	border-color: $color-accent;
	.svg {
		fill: #050505;
	}
}
.pag-arrow-next {
	display: none;
	@extend %pag-arrow-step;
	transform: rotate(180deg);
	background-color: $color-accent;
	border-color: $color-accent;
	@media screen and (min-width: $bp-tablet) {
		display: block;
	}
	.svg {
		fill: #050505;
	}
}
.pag-page {
	@extend %pag-button;
	border-color: $color-secondary-light;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.22;
	color: $color-secondary-dark;
	background-color: transparent;
	&.current {
		border-color: $color-accent;
		background-color: $color-accent;
	}
	&.hidden {
		display: none;
	}
}
.rating-post-btn {
	@extend %button;
	color: $color-card-title;
	background-color: $color-accent;
	width: 100%;
	&:hover {
		color: $color-event-back;
	}
}
