%button {
	display: block;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	line-height: 1.21;
	font-weight: 500;
	padding: 13px 27px;
	border: 1px solid $color-accent;
	border-radius: 15px;
	cursor: pointer;
	transition: color 150ms ease, background-color 150ms ease;
}
.primary-btn {
	@extend %button;
	color: $color-secondary-dark;
	background-color: $color-primary-light;
	&:hover {
		color: $color-primary-light;
		background-color: $color-accent;
	}
}
.btn-add {
	@extend %button;
	color: $color-primary-light;
	background-color: $color-accent;
	&:hover {
		color: $color-secondary-dark;
		background-color: transparent;
	}
}
.btn-rating {
	@extend %button;
	color: $color-secondary-dark;
	background-color: $color-primary-light;
	&:hover {
		color: $color-primary-light;
		background-color: $color-accent;
	}
}
