%select {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.25;
	color: $color-secondary-lighter;
	padding: 14px 18px;
	border: 1px solid $color-secondary-lightest;
	border-radius: 15px;
	width: 100%;
	appearance: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}
%dropdown {
	position: absolute;
	left: 0;
	top: 101%;
	width: 100%;
	height: 180px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 14px 18px;
	background-color: $color-primary-light;
	border-radius: 14px;
	box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
	overflow-y: auto;
	z-index: 1;
	cursor: default;
	&::-webkit-scrollbar {
		width: 6px;
		position: absolute;
		right: 60px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $color-secondary-lightest; /* color of the scroll thumb */
		border-radius: 12px; /* roundness of the scroll thumb */
	}
}
.options-wrapper {
	position: relative;
	width: 100%;
	@extend %select;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.filter {
	position: relative;
	display: flex;
	gap: 16px;
	margin-bottom: 44px;
	.arrow {
		position: absolute;
		right: 18px;
		top: 15px;
		width: 18px;
		height: 18px;
		fill: $color-secondary-lighter;
		transform: rotate(-90deg);
		pointer-events: none;
	}
}
.filter-label {
	font-weight: 500;
	color: $color-secondary-lighter;
	display: block;
	text-align: start;
	margin-bottom: 8px;
}
.time {
	width: 125px;
}
.area {
	width: 141px;
}
.ingredients {
	width: 188px;
}
.search {
	position: relative;
	.input {
		@extend %select;
		padding-left: 48px;
	}
	width: 278px;
}
.loop {
	position: absolute;
	top: 41px;
	left: 18px;
	width: 18px;
	height: 18px;
	fill: $color-secondary-lighter;
}
.filter-btn {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.25;
	text-align: left;
	width: 95%;
	padding: 0;
	color: $color-secondary-light;
	background-color: transparent;
	border: none;
	text-overflow: ellipsis; /* enables ellipsis */
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	&:hover {
		color: $color-secondary-dark;
	}
}
.area-list,
.ingredients-list,
.time-list {
	@extend %dropdown;
}

.reset-filter-btn {
	position: absolute;
	bottom: -30px;
	right: 0;
	display: flex;
	align-items: center;
	gap: 4px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.reset-svg {
	width: 14px;
	height: 14px;
	fill: $color-accent;
}
.reset-text {
	color: $color-secondary-lighter;
	font-family: "Inter", sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.33;
	width: 86px;
}
