.recipe-card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: end;
	width: 250px;
	height: 287px;
	border-radius: 15px;
	overflow: hidden;
	background: linear-gradient(
		1deg,
		rgba(5, 5, 5, 0.6) 4.82%,
		rgba(5, 5, 5, 0) 108.72%
	);
	padding: 16px;
	.title {
		font-size: 14px;
		font-weight: 600;
		line-height: 1.28;
		text-transform: uppercase;
		color: $color-card-title;
		margin-bottom: 8px;
		text-overflow: ellipsis; /* enables ellipsis */
		white-space: nowrap; /* keeps the text in a single line */
		overflow: hidden;
	}
	.text {
		font-size: 12px;
		line-height: 1.33;
		color: $color-card-text;
		margin-bottom: 16px;
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2; /* start showing ellipsis when 2rd line is reached */
	}
	.info {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.recipe-img {
	position: absolute;
	top: 18px;
	left: 0;
	transform: scale(1.16);
	z-index: -1;
}
.heart {
	position: absolute;
	top: 16px;
	right: 16px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.heart-svg {
	width: 22px;
	height: 22px;
	stroke: $color-card-heart;
	fill: none;
	&:active {
		transform: scale(1.2);
	}
	&.added {
		fill: $color-card-heart;
	}
	// pointer-events: none;
}
.heart-use {
	pointer-events: none;
}
.recipe-btn {
	font-family: "Inter", sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.25;
	color: $color-card-title;
	background-color: $color-accent;
	border: none;
	border-radius: 8px;
	padding: 8px 16px;
	cursor: pointer;
}
.score {
	display: flex;
	gap: 4px;
}
.score-text {
	font-weight: 500;
	color: $color-card-rating;
}
.stars {
	display: flex;
	gap: 2px;
}
.star-svg {
	width: 16px;
	height: 16px;
	fill: $color-star;
	&.active {
		fill: $color-star-active;
	}
}
