.popular {
  .title {
    color: $color-secondary-dark;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
}

.popular-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  .card {
    display: flex;
    gap: 16px;
    .img {
      flex-shrink: 0;
      width: 64px;
      height: 64px;
    }
    .title {
      font-size: 14px;
      line-height: 1.28;
      margin-bottom: 8px;
    }
    .text {
      color: $color-primary-dark;
      font-size: 10px;
      line-height: 1.4;
    }
  }
}
