.header {
	padding-top: 24px;
	padding-bottom: 49px;
	@media screen and (min-width: $bp-tablet) {
		padding-top: 30px;
		padding-bottom: 47px;
	}
	@media screen and (min-width: $bp-desktop) {
		padding-top: 43px;
		padding-bottom: 46px;
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.header-fav {
	padding-top: 43px;
	padding-bottom: 36px;
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.header-nav {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}
.nav-list {
	display: none;
	@media screen and (min-width: $bp-tablet) {
		display: flex;
		gap: 16px;
		.link {
			font-size: 12px;
			line-height: 1.2;
			color: $color-secondary-dark;
			transition: color 150ms ease;
			&:hover,
			&:active {
				color: $color-accent;
			}
			&.current {
				color: $color-accent;
			}
		}
	}
}
.logo-wrapper {
	display: flex;
	justify-content: start;
	flex-grow: 1;
	@media screen and (min-width: $bp-tablet) {
		justify-content: center;
	}
}
.nav-logo {
	.src {
		width: 83px;
		@media screen and (min-width: $bp-tablet) {
			width: 93px;
		}
	}
}
.logo-light {
	display: $display-logo-light;
}
.logo-dark {
	display: $display-logo-dark;
}
.nav-tech {
	display: flex;
	gap: 14px;
	align-items: center;
	@media screen and (min-width: $bp-tablet) {
		gap: 18px;
	}
	@media screen and (min-width: $bp-desktop) {
		gap: 24px;
	}
}

.cart-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	padding: 0;
}
.cart-svg {
	width: 24px;
	height: 24px;
	cursor: pointer;
	fill: $color-secondary-dark;
}
.theme-wrapper {
	display: none;
	@media screen and (min-width: $bp-tablet) {
		display: flex;
		justify-content: start;
		align-items: center;
		width: 46px;
		height: 20px;
		background-color: $color-secondary-light;
		border-radius: 11px;
		padding: 1px;
		box-shadow: 4px 4px 8px $color-secondary-light;
		cursor: pointer;
		&.dark {
			background-color: $color-accent;
			justify-content: end;
		}
	}
}

.theme-circle {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: $color-primary-light;
	&.dark {
		background-color: $color-primary-dark;
	}
}
.burger-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	padding: 0;
	@media screen and (min-width: $bp-tablet) {
		display: none;
	}
}
.burger-svg {
	width: 34px;
	height: 34px;
	cursor: pointer;
	fill: $color-secondary-dark;
}
