.hero {
	padding: 40px 0;
	padding-bottom: 340px;
	@media screen and (min-width: $bp-tablet) {
		padding-bottom: 500px;
	}
	@media screen and (min-width: $bp-desktop) {
		padding: 50px 0;
	}
	.wrapper {
		position: relative;
	}
}
.hero-content {
	width: 335px;
	margin-bottom: 48px;
	@media screen and (min-width: $bp-tablet) {
		width: 446px;
		margin-bottom: 64px;
	}
	@media screen and (min-width: $bp-desktop) {
		padding-top: 64px;
		margin-bottom: 0;
	}
	.title {
		font-size: 26px;
		line-height: 1.2;
		font-weight: 600;
		color: $color-secondary-dark;
		margin-bottom: 14px;
		text-transform: uppercase;
		@media screen and (min-width: $bp-tablet) {
			font-size: 36px;
			line-height: 1.16;
			margin-bottom: 16px;
		}
		.accent {
			font-weight: 400;
			color: $color-accent;
			font-style: italic;
		}
	}
	.text {
		font-size: 14px;
		line-height: 1.28;
		color: $color-secondary-dark;
		width: 335px;
		margin-bottom: 28px;
		@media screen and (min-width: $bp-tablet) {
			font-size: 16px;
			line-height: 1.5;
			width: 400px;
			margin-bottom: 32px;
		}
	}
}
.master-wrapper {
	position: absolute;
	right: -20px;
	width: 355px;
	overflow: hidden;
	@media screen and (min-width: $bp-tablet) {
		width: 736px;
		right: -32px;
	}
	@media screen and (min-width: $bp-desktop) {
		top: 0;
		right: -100px;
		width: 696px;
	}
}
.master-list {
	margin-bottom: 16px;
	@media screen and (min-width: $bp-tablet) {
		margin-bottom: 20px;
	}
}
.pagination {
	display: flex;
	justify-content: center;
	gap: 4px;
	transform: translateX(5px);
	@media screen and (min-width: $bp-tablet) {
		gap: 6px;
		transform: translateX(-38px);
	}
	@media screen and (min-width: $bp-desktop) {
		gap: 6px;
		transform: translateX(-19px);
	}
}
.bullet {
	display: block;
	width: 4px;
	height: 4px;
	background-color: $color-secondary-lighter;
	border-radius: 50%;
	cursor: pointer;
	@media screen and (min-width: $bp-tablet) {
		width: 6px;
		height: 6px;
	}
}
.bullet-active {
	background-color: $color-accent;
}
