.mobile-menu{
    display: flex;
	justify-content: center;
	align-items: center;
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 16px 24px;
       background-color: $color-menu-back;
        z-index: 2;
        transform: translateX(100%);
        transition: transform 150ms ease;
    &.open{
        
        transform: translateX(0%);
    }
}
.nav-list-menu{
	display: flex;
	flex-direction: column;
    align-items: center;
	gap: 16px;
    & .link{
        text-transform: uppercase;
        font-weight: 500;
        color: $color-card-title;
    }
}
.theme-wrapper{
    &.menu{
	display: flex;
	position: absolute;
	bottom: 30px;
	left: 30px;
	justify-content: start;
	align-items: center;
	width: 46px;
	height: 20px;
	background-color: $color-secondary-light;
	border-radius: 11px;
	padding: 1px;
	box-shadow: 4px 4px 8px $color-secondary-light;
	cursor: pointer;
	&.dark {
		background-color: $color-accent;
		justify-content: end;
	}
}}
.menu-btn-close{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	fill: $color-primary-dark;
	background-color: transparent;
	border: none;
	cursor: pointer;
}