.numbers {
	display: flex;
	gap: 10px;
}
.pages {
	display: flex;
	gap: 10px;
}
.steps {
	display: flex;
	gap: 8px;
}
.pagination-recipe, .pagination-fav {
	display: flex;
	justify-content: center;
	gap: 24px;
}
