.popular {
	.title {
		color: $color-secondary-dark;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.33;
		text-transform: uppercase;
		margin-bottom: 20px;
		@media screen and (min-width: $bp-tablet) {
			margin-bottom: 32px;
		}
		@media screen and (min-width: $bp-tablet) {
			font-size: 24px;
			line-height: 1.17;
		}
	}
}
.popular-content {
	overflow: hidden;
	pointer-events: none;
}
.popular-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	@media screen and (min-width: $bp-tablet) {
		gap: 32px;
	}
	.card {
		display: flex;
		gap: 16px;
		height: 67px;
		overflow: hidden;
		cursor: pointer;
		transition: transform 150ms ease;
		.img {
			flex-shrink: 0;
			width: 64px;
			height: 64px;
			border-radius: 10px;
			pointer-events: none;
		}
		.title {
			font-size: 14px;
			line-height: 1.28;
			margin-bottom: 8px;
			text-overflow: ellipsis; /* enables ellipsis */
			white-space: nowrap; /* keeps the text in a single line */
			overflow: hidden;
			pointer-events: none;
		}
		.text {
			color: $color-primary-dark;
			font-size: 12px;
			line-height: 1.33;
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
			pointer-events: none;
			@media screen and (min-width: $bp-tablet) {
				font-size: 10px;
				line-height: 1.4;
				-webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
			}
		}
		&:hover {
			transform: scale(1.1);
			transform-origin: right;
		}
	}
}
