.recipes {
	padding-top: 40px;
	padding-bottom: 80px;
	@media screen and (min-width: $bp-tablet) {
		padding-bottom: 100px;
	}
	@media screen and (min-width: $bp-desktop) {
		padding-top: 184px;
	}
	.wrapper {
		display: flex;
		flex-direction: column;

		gap: 40px;
		@media screen and (min-width: $bp-tablet) {
			flex-direction: row;
			justify-content: space-between;
			gap: 32px;
		}
		@media screen and (min-width: $bp-desktop) {
			gap: 64px;
		}
	}
}
.aside {
	width: 100%;
	flex-shrink: 0;
	@media screen and (min-width: $bp-tablet) {
		padding-top: 26px;
		width: 176px;
	}
	@media screen and (min-width: $bp-desktop) {
		width: 234px;
	}
}
.recipe-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 24px;
	@media screen and (min-width: $bp-tablet) {
		gap: 16px;
	}
	@media screen and (min-width: $bp-desktop) {
		row-gap: 32px;
		column-gap: 16px;
	}
}
.recipe-list-fav {
	display: flex;
	flex-wrap: wrap;
	row-gap: 32px;
	column-gap: 16px;
	margin-bottom: 64px;
}
.all-recipes {
	margin-bottom: 64px;
}
